[Unit]
Description=pi-meh
After=dnsmasq.service

[Service]
ExecStart=/usr/bin/pi-meh_usb
WorkingDirectory=/root
Restart=no
User=root

[Install]
WantedBy=multi-user.target
